=======================================================================
== Channels section intended to be used by template.sh and contains channels
== description that must be added instead string  
== into generated manifest file based on manifest.template file

Channel = {ABS_PATH}data/1input.txt, /dev/stdin, 0, 0, 9999999, 9999999999, 0, 0
Channel = {ABS_PATH}log/map.zrt.log, /dev/debug, 0, 0, 0, 0, 999999999, 999999999
Channel = {ABS_PATH}log/map.stdout.log, /dev/stdout, 0, 1, 0, 0, 99999999, 9999999999
Channel = {ABS_PATH}log/map.stderr.log, /dev/stderr, 0, 1, 0, 0, 99999999, 9999999999
Channel = {ABS_PATH}nvram/map.nvram, /dev/nvram, 0, 0, 99999, 99999, 0, 0
Channel = tcp:2:, /dev/out/red-1, 0, 0, 0, 0, 99999999, 9999999999
=======================================================================
Channel = {ABS_PATH}mapreduce.py, /dev/mapreduce.py, 0, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}reduce.py, /dev/reduce.py, 0, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}map.py, /dev/map.py, 0, 0, 999999, 999999, 0, 0
Channel = {ABS_PATH}python.tar, /dev/python.tar, 3, 0, 99999999, 99999999, 0, 0

=====================================================================
== switches for zerovm. some of them used to control nexe, some
== for the internal zerovm needs
=====================================================================
Version = 20130611
Program = {ABS_PATH}python.nexe
Memory = 0x100000000, 0
NameServer = udp:127.0.0.1:54321
Timeout=500
Node=1

